{% extends "layout.html" %}

{% block body %}
    <h2>Welcome</h2>

    {% if current_user is defined and current_user.is_authenticated() %}
        <p>You are authorized to access <a href="{{ url_for('secret') }}">the secret information</a>.
    {% else %}
        <p>This Web site contains secret information available only to authorized users.
        Available usernames are Notch, Steve, and Creeper.
    {% endif %}

    <p>online users are:</p>
    <ul>
        {% for u in online_users%}
            <li>{{u.email}}</li>
        {% endfor %}
    </ul>
{% endblock body %}

